@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* Body styling */

body {
    background-color: #260d68;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* Application title */

.title {
    display: flex;
    flex-direction: column;
    line-height: 75px;
    text-align: upper-center;
}

/* Title styling */

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    color: #e9a82e;
    text-shadow: 2px 2px 4px rgba(13, 8, 43, 0.616);
}

h1:hover {
    font-size: 52px;
    letter-spacing: 7px;
    color: rgb(178, 252, 41);
    transition: all 0.3s ease-in-out;
}

/* Drumkit select container */

.kit {
    padding: 1em 3em;
    background-image: url(../images/drumkit.jpg);
    background-position: bottom;
    /* background-size: cover; */
    /* background-color: #3e128696; */
    border-color:rgba(27, 9, 129, 0.733);
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    color: #e9a932;
    box-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
}

.kit:hover {
    color: rgb(178, 252, 41);
    transition: all 0.3s ease-in-out;
}

/* Kit sellect button */

#kitsel {
    padding: 15px 2px;
    font-size: 14px;
    color: #250d68;
    background-color: #be7f0acb;
    border-radius: 10px;
    margin: 5px;
    min-width: 2px;
    font-family:'Mochiy Pop One', sans-serif;
    text-shadow: 1px 1px 2px rgba(13, 8, 43, 0.616);
    cursor: pointer;
}

#kitsel:hover {
    color: rgb(178, 252, 41);
    padding: 18px 18px;
    transition: all 0.2s ease-in-out;
}

/* Background image for the buttons/ drum pads area */

.frame {
    padding: 20px;
    border-radius: 5px;
    background-image: url(../images/drumkit.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 500px;
    justify-content: center;
    border-color:rgba(224, 138, 25, 0.986);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 4px 8px rgba(13, 8, 43, 0.616);
}

/* Button container */

.drums {
    text-align: center;
}

/* Buttons - drum pads */

.btn {
    padding: 30px 50px;
    background-color: #be7f0acb;
    border-color:rgba(27, 9, 129, 0.733);
    border-radius: 10px;
    margin: 10px;
    min-width: 150px;
    font-size: 15px;
    box-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
    color: #250d68;
    font-family:'Mochiy Pop One', sans-serif ;
    text-shadow: 1px 1px 2px rgba(13, 8, 43, 0.616);
    cursor: pointer;
    /* text-transform: capitalize; */
}

.btn:hover {
    color: rgb(178, 252, 41);
    padding: 31px 51px;
    transition: all 0.3s ease-in-out;
}
.btn:active {
    font-size: 17px;
    padding: 35px 55px;
    transition: all 0.2s ease-in-out;
}

/* Responsive design styling */

@media (max-width: 563px) {
    .btn {
        padding: 20px 35px;
        margin: 10px;
        min-width: 100px;
     }
}