@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* Body styling */

body {
    background-color: #260d68;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* height: 100vh; */
    bottom: 10px;
    justify-content: center;
}

/* Application title */

.title {
    display: flex;
    flex-direction: column;
    line-height: 75px;
}

/* Title styling */

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    color: #e9a82e;
    text-shadow: 2px 2px 4px rgba(13, 8, 43, 0.616);
}

h1:hover {
    font-size: 52px;
    letter-spacing: 7px;
    color: rgb(178, 252, 41);
    transition: all 0.3s ease-in-out;
}

/* Drumkit select container */

.kit {
    padding: 1em 3em;
    background-image: url(../images/drumkit.jpg);
    background-position: bottom;
    border-color:rgba(27, 9, 129, 0.733);
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    color: #e9a932;
    box-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
}

.kit:hover {
    color: rgb(178, 252, 41);
    transition: all 0.3s ease-in-out;
}

/* Kit sellect button */

#kitsel {
    padding: 15px 2px;
    font-size: 14px;
    color: #250d68;
    background-color: #be7f0acb;
    border-radius: 10px;
    margin: 5px;
    min-width: 2px;
    font-family:'Mochiy Pop One', sans-serif;
    text-shadow: 1px 1px 2px rgba(13, 8, 43, 0.616);
    cursor: pointer;
}

#kitsel:hover {
    color: rgb(178, 252, 41);
    padding: 18px 18px;
    transition: all 0.2s ease-in-out;
}

/* Background image for the buttons/ drum pads area */

.frame {
    padding: 20px;
    border-radius: 5px;
    background-image: url(../images/drumkit.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 40em;
    justify-content: center;
    border-color:rgba(224, 138, 25, 0.986);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 4px 8px rgba(13, 8, 43, 0.616);
}

/* Button container */

.drums {
    text-align: center;
}

/* Buttons - drum pads */

.btn {
    padding: 30px 50px;
    background-color: #be7f0acb;
    border-color:rgba(27, 9, 129, 0.733);
    border-radius: 10px;
    margin: 10px;
    min-width: 150px;
    font-size: 15px;
    box-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
    color: #250d68;
    font-family:'Mochiy Pop One', sans-serif ;
    text-shadow: 1px 1px 2px rgba(13, 8, 43, 0.616);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: rgb(178, 252, 41);
    padding: 31px 51px;
}
.btn.active {
    color: rgb(178, 252, 41);
    font-size: 17px;
    padding: 35px 55px;
}

/* Modal styling */

*, *::after, ::before {
    box-sizing: border-box;
}

.modal {
    margin: 2px;
    overflow: scroll;
    transition: 100ms ease-in-out;
    transform: scale(0);
    border: 1px solid;
    border-color:rgba(27, 9, 129, 0.733);
    border-radius: 10px;
    background-color: #ce901ed0;
    color: #250d68;
    box-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
    z-index: 10;
    max-width: 90%;
    height: 2px;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal.active {
    transform: scale(1);
    height: 35em;
}

.modal-header {
    padding: 10px 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #250d68;
}

.modal-header .modal-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header .close-modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 5px;
    opacity: 0.9;
    font-size: 15px;
}

#modal-btn {
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #e9a932c9;
    text-shadow: 0px 4px 8px rgba(13, 8, 43, 0.616);
}

#modal-btn:hover {
    font-size: 3rem;
    color: rgb(178, 252, 41);
    transition: all 0.3s ease-in-out;
}

#close {
    color: #250d68;
}

/* Overlay for active Modal */

#overlay {
    position: fixed;
    opacity: 0;
    transition: 100ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.432);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Footer */

.footer {
    padding-top: 7.5em;
    line-height: 8px;
    color: #e9a932f1;
    opacity: 0.8;
    font-size: 10px;
}

/* Footer social netwoorks contact */

.socials {
    color: #e9a932f1;
    font-size: 15px;
    display: flex;
    justify-content: center;
    letter-spacing: 25px;
    padding-left: 1.5em;
    align-items: center;
    margin: 0;
}

.socials i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #e9a932f1;
}

.socials i:hover {
    color: rgb(178, 252, 41);
    font-size: 15.5px;
    transition: all 0.3s ease-in-out;
}

/* Responsive design styling */

@media (max-width: 563px) {
    .btn {
        padding: 20px 35px;
        margin: 10px;
        min-width: 100px;
     }
}